@charset "UTF-8";

@font-face {
  font-family: "webfont";
  src:url("../font/webfont.eot");
  src:url("../font/webfont.eot?#iefix") format("embedded-opentype"),
    url("../font/webfont.woff") format("woff"),
    url("../font/webfont.ttf") format("truetype"),
    url("../font/webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "webfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "webfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-armchair:before {
  content: "\61";
}
.icon-bar-and-stools:before {
  content: "\62";
}
.icon-bathroom-mirror:before {
  content: "\63";
}
.icon-bed:before {
  content: "\64";
}
.icon-bed-room-chair:before {
  content: "\65";
}
.icon-bedroom-chair:before {
  content: "\66";
}
.icon-bidet:before {
  content: "\67";
}
.icon-bookshelf:before {
  content: "\68";
}
.icon-boxes:before {
  content: "\69";
}
.icon-cabibnet-with-drawer:before {
  content: "\6a";
}
.icon-cabinet:before {
  content: "\6b";
}
.icon-cabinet-with-drawers:before {
  content: "\6c";
}
.icon-cactus:before {
  content: "\6d";
}
.icon-candle:before {
  content: "\6e";
}
.icon-candle-stick:before {
  content: "\6f";
}
.icon-ceiling-lamp-1:before {
  content: "\70";
}
.icon-ceiling-lamp-2:before {
  content: "\71";
}
.icon-ceiling-lamp-3:before {
  content: "\72";
}
.icon-ceiling-lamp-4:before {
  content: "\73";
}
.icon-chair:before {
  content: "\74";
}
.icon-clock:before {
  content: "\75";
}
.icon-coat-hanger:before {
  content: "\76";
}
.icon-comfy-couch:before {
  content: "\77";
}
.icon-couch:before {
  content: "\78";
}
.icon-cupboard:before {
  content: "\79";
}
.icon-cupboard-four-doors:before {
  content: "\7a";
}
.icon-cupboard-two-doors:before {
  content: "\41";
}
.icon-cupboard-with-mirror:before {
  content: "\42";
}
.icon-cupboard-with-shelves:before {
  content: "\43";
}
.icon-curtain:before {
  content: "\44";
}
.icon-desk:before {
  content: "\45";
}
.icon-desk-lamp:before {
  content: "\46";
}
.icon-dining-chair:before {
  content: "\47";
}
.icon-dining-room:before {
  content: "\48";
}
.icon-dining-room-chair:before {
  content: "\49";
}
.icon-director-chair:before {
  content: "\4a";
}
.icon-door:before {
  content: "\4b";
}
.icon-downstairs:before {
  content: "\4c";
}
.icon-drawers:before {
  content: "\4d";
}
.icon-dresser:before {
  content: "\4e";
}
.icon-egg-chair:before {
  content: "\4f";
}
.icon-energy-efficient-lightbulb:before {
  content: "\50";
}
.icon-frame:before {
  content: "\51";
}
.icon-furnace:before {
  content: "\52";
}
.icon-illuminated-lightbulb:before {
  content: "\53";
}
.icon-ladder:before {
  content: "\54";
}
.icon-lightbulb-1:before {
  content: "\55";
}
.icon-lightbulb-2:before {
  content: "\56";
}
.icon-lightbulb-3:before {
  content: "\57";
}
.icon-loveseat:before {
  content: "\58";
}
.icon-mirror:before {
  content: "\59";
}
.icon-one-door-cupboard:before {
  content: "\5a";
}
.icon-oval-mirror:before {
  content: "\30";
}
.icon-plant:before {
  content: "\31";
}
.icon-round-plant:before {
  content: "\32";
}
.icon-shelf:before {
  content: "\33";
}
.icon-shower:before {
  content: "\34";
}
.icon-shower-and-bathtub:before {
  content: "\35";
}
.icon-shower-curtain:before {
  content: "\36";
}
.icon-shower-head:before {
  content: "\37";
}
.icon-side-lamp-1:before {
  content: "\38";
}
.icon-side-lamp-2:before {
  content: "\39";
}
.icon-side-lamp-3:before {
  content: "\21";
}
.icon-side-table-and-lamp:before {
  content: "\22";
}
.icon-sink:before {
  content: "\23";
}
.icon-small-drawers:before {
  content: "\24";
}
.icon-small-stool:before {
  content: "\25";
}
.icon-square-plant:before {
  content: "\26";
}
.icon-standing-lamp:before {
  content: "\27";
}
.icon-stool:before {
  content: "\28";
}
.icon-television:before {
  content: "\29";
}
.icon-toilet:before {
  content: "\2a";
}
.icon-towel:before {
  content: "\2b";
}
.icon-triangle-plant:before {
  content: "\2c";
}
.icon-two-drawers:before {
  content: "\2d";
}
.icon-upstairs:before {
  content: "\2e";
}
.icon-urinary-toilet:before {
  content: "\2f";
}
.icon-wardrobe:before {
  content: "\3a";
}
.icon-wardrobe-with-drawers:before {
  content: "\3b";
}
.icon-window:before {
  content: "\3c";
}
