@font-face {
    font-family: 'Barlow';
    src:url('../font/barlow/barlow-regular-webfont.eot?-fvbane');
    src:url('../font/barlow/barlow-regular-webfont.eot?#iefix-fvbane') format('embedded-opentype'),
    url('../font/barlow/barlow-regular-webfont.woff?-fvbane') format('woff'),
    url('../font/barlow/barlow-regular-webfont.ttf?-fvbane') format('truetype'),
    url('../font/barlow/barlow-regular-webfont.svg?-fvbane#themify') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 2400px;
    height: 1440px;
    overflow: hidden;
    position: absolute;
    transition: all 1s ease-in-out;
}
html.show_1_1 {
    left: 0;
    top: 0;
}
html.show_1_2 {
    left: -800px;
    top: 0;
}
html.show_1_3 {
    left: -1600px;
    top: 0;
}
html.show_2_1 {
    left: 0;
    top: -480px;
}
html.show_2_2 {
    left: -800px;
    top: -480px;
}
html.show_2_3 {
    left: -1600px;
    top: -480px;
}
html.show_3_1 {
    left: 0;
    top: -960px;
}
html.show_3_2 {
    left: -800px;
    top: -960px;
}
html.show_3_3 {
    left: -1600px;
    top: -960px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Barlow', cursive;
    color: #fff;
}
.button-bar {
    position: fixed;
    transition: all .5s ease-in-out;
    background: rgba(0,0,0,0);
}
html.show_3_1 .button-bar {
    background: rgba(0,0,0,0.2);
}
#button_bar_top {
    top: 0;
    left: 0;
    height: 100px;
    margin-left: 350px;
}
#button_bar_bottom {
    bottom: 0;
    left: 0;
    height: 100px;
    margin-left: 300px;
}
#button_bar_left {
    left: 0;
    top: 0;
    width: 100px;
    margin-top: 90px;
}
#button_bar_right {
    right: 0;
    top: 0;
    width: 100px;
    margin-top: 90px;
}
#button_bar_left .button,
#button_bar_right .button {
    clear: both;
}

.button-bar .button {
    width: 100px;
    padding: 25px;
    height: 100px;
    display: inline-block;
    line-height: 50px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: #282828 2px 2px 2px;
    opacity: 0.5;
    box-sizing: border-box;
}
.canvas-view {
    float: left;
    width: 800px;
    height: 480px;
}

header h1 {
    text-align: center;
    font-size: 2em;
    margin-top: .2em;
}

header h3 {
    margin-top: 0;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0;
}

header h5 {
    text-align: center;
    margin-top: 110px;
    font-size: 2.9em;
    margin-bottom: 0;
}

header h3 > span {
    margin-left: .5em;
}

.panels {
    margin-top: 14%;
    display: flex;
    justify-content: space-between;
    transition: all .5s ease-in-out;
}

.panels.active {
    /*margin-top: -10%;*/
    /*transition: all .5s ease-in-out;*/
}

.panel {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#weather_description {
    text-align: center;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

article.forecast-container {
    width: 30%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

article.today-summary {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: .6em;
    padding: .5em .7em;
}

article.today-summary h2 {
    text-align: right;
    float: right;
}

article.today-summary p {
    float: left;
}

article.today-summary #clock {
    line-height: 0.5;
    font-size: 3em;
}

article.rss-feed {
    display: flex;
    flex: 30%;
    flex-wrap: wrap;
    padding: 0 4px;
    /* align-items: baseline; */
    justify-content: space-between;
    transition: all .5s ease-in-out;
}

article.rss-feed .rss-item {
    background: rgba(0, 0, 0, 0.6);
    padding: .7em;
    margin-top: 8px;
    box-sizing: border-box;
}

.lighting-container {
    flex: 50%;
    max-width: 50%;
}

.tile {
    font-size: 80px;
    height: 100px;
    line-height: 100px;
    background: rgba(0, 0, 0, 0.6);
    margin: 8px 4px;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.tile-status {
    height: auto;
    width: 100%;
    padding: 16px;
    line-height: 25px;
}

.light-indicator {
    font-size: 40px;
    position: absolute;
    right: 8px;
    top: -12px;
}

.on {
    color: #edd268;
}

.off {
    color: #a8a8a8;
}

.red {
    color: #dc143c;
}

#player_background {
    width: 800px;
    height: 480px;
    margin: -102px -100px;
    position: absolute;
    top: 100px;
    z-index: -2;
    filter: blur(4px);
}

#media_status > i {
    font-size: 40px;
}

#media_status #app_state {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -8px;
}

#media_status #app_state > small {
    font-size: 14px;
}

#media_status #time_container {
    float: right;
    font-size: 12px;
}

#media_status #volume_container {
    float: left;
    font-size: 12px;
    opacity: 1;
    width: 80px;
    transition: all 500ms linear;
}

#media_status #volume_container.hidden {
    opacity: 0;
}

#progress_time {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px 0 8px;
}

#progress_time .progress-bar {
    display: block;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.media-control {
    width: 80px;
    height: 80px;
    display: inline-block;
    font-size: 60px;
    margin-top: 16px;
    overflow: hidden;
}

.media-control a,
.media-control a:active,
.media-control a:focus,
.media-control a:visited,
.media-control a:hover {
    color: #fff;
    text-decoration: none;
}

.button-slider {
    transition: all .5s ease-in-out;
}

.button-top,
.button-bottom {
    height: 80px;
}

.button-slider.bottom {
    margin-top: -80px;
}

#view_1_1 .panel,
#view_3_2 .panel,
#view_1_3 .panel {
    overflow: hidden;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#view_1_1 .panel .traffic-container,
#view_3_2 .panel .news-container,
#view_1_3 .panel .settings-container {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#view_1_1 .panel .traffic-container::-webkit-scrollbar,
#view_3_2 .panel .news-container::-webkit-scrollbar,
#view_1_3 .panel .settings-container::-webkit-scrollbar {
    display: none;
}

.tile-traffic {
    line-height: 1;
    height: auto;
    width: 286px;
    font-size: 20px;
}

.tile-traffic .road-sign {
    display: inline-block;
    padding: 6px 17px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    float: left;
    margin: 0 10px 10px 0;
}

.tile-traffic .aWegen .road-sign {
    background: red;
    color: #fff;
}

.tile-traffic .nWegen .road-sign {
    background: #efc63e;
    color: #000;
    padding: 6px 10px;
}

.tile-traffic .road .description {
    margin-top: 15px;
}

.tile-traffic .road .description:first-of-type {
    margin-top: 0;
}

.tile-traffic .road .description .location {
    display: block;
    font-size: 20px;
}

.tile-traffic .road .description .reason {
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.3;
}

.tile-mode {
    width: 100%;
    height: auto;
}

.tile-mode > i {
    width: 120px;
    text-align: center;
    vertical-align: bottom;
}

.tile-mode .time {
    display: inline-block;
    line-height: 0px;
    float: right;
}

.tile-mode .time .hours-container,
.tile-mode .time .minutes-container{
    display: inline-block;
}

.tile-mode .time a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}

.tile-mode .time input[type=number] {
    font-size: 70px;
    display: block;
    background: none;
    color: #fff;
    border: none;
    width: 100px;
}

a.send-traffic-info,
a.send-traffic-info:hover,
a.send-traffic-info:active,
a.send-traffic-info:visited,
a.send-traffic-info:focus,
a.send-news,
a.send-news:hover,
a.send-news:active,
a.send-news:visited,
a.send-news:focus {
    text-decoration: none;
    color: #fff;
}